.card {
    padding-bottom: 4px;
    padding-top: 4px;
    margin-bottom: 20px;
}
/* @media all and (min-width:1200px){
    .container {
        width:100% !important;
        padding: 30px !important;
    }
}

@media all and (min-width:992px){
    .container {
        width:100% !important;
        padding: 20px !important;
    }
} */